@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.footer {
    display: flex;

}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}
 .header {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
     
 }
 .top-l {
    
 }

 body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}

 .footer {
    display: flex;
    justify-content: space-between;

 }

 .right-links {
    list-style: none;
    margin-right: 20px;
    
 }
 .left-links {
    list-style: none;  
    padding: 0;
    margin-left: 20px;
 }

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
    
}
.footer {
    margin-top: auto;
    background-color: #eeeeee;
    padding: -100px;
}

button {
    padding: 10px;
}
ul {
    display: inline-flex;
    gap: 20px;
}
